.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: min-content;
  background-color: #283618;
  border-top: #606c38 solid 20px;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.5rem;
  margin: 0;
  margin-right: 10px;
}

.headerLink {
  text-decoration: none;
  margin: 10px;
}

.headerLink button {
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  border: none;
  background-color: #606c38;
  border-radius: 10px;
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0) translateX(0);
}

.headerLink button:hover {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.logoLink {
  text-decoration: none;
  margin: 10px;
  margin-left: 80px;
}

.logoLink button {
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  border: none;
  background-color: #606c38;
  border-radius: 10px;
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0) translateX(0);
}

.logoLink button:hover {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
